body{
    margin: 0cm;
    padding: 0cm;
    background-image: url(todo/coras.jpg);
}
a{
    font-family: cursive;
    color: honeydew;
    text-decoration: none;
}
.opciones{
    margin-top: 7px;
    text-align: center;
    padding: 2px;
    background-color: thistle;
}
.lubi{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    background-color: rgb(228, 100, 100);
    padding: 30px;
    text-align: center;
}
.link{
    padding: 7px;
    display: inline-block;
    margin-left: 23%;
    background-color: rgb(82, 82, 82);
    border-radius: 5px;
    margin-top: 30px;
    border: 20px;
    border-color: violet;
}
.link2{
    padding: 7px;
    background-color:rgb(82, 82, 82) ;
    display: inline-block;
    margin-left: 23%;
    margin-top:  20px;
    border-radius: 5px;
}

img{
    margin-top: 10%;
    margin-left: 20%;
    width: 60%;
    height: 60%;
}